@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wholesome Loaves</h1>
    <!--Images and descriptive header-->
    <img src="~/img/bread.jpeg" style="max-width: 100%; width: 300px;" />
    <img src="~/img/crumb.jpeg" style="max-width: 100%; width: 300px;" />
    <p></p>
</div>

<br />
<!--my paragraphs-->
<p>I started making sourdough bread with my mom several years ago.
    I have been making sourdough bread myself nearly every week for just over a year.
    It is something that I would consider myself pretty well versed with all of the trial
    and error that I have gone through to get a consistant and good end product. I was also able to 
    cultivate my starter from my mom's existing starter making mine several years old (which adds some great flavor)</p>

<p>Sourdough bread offers a myriad of health benefits that make it a worthwhile addition to any diet.
    Unlike conventional bread made with commercial yeast, sourdough undergoes a natural fermentation process,
    resulting in a product that is easier to digest and may have a lower glycemic index. Additionally, 
    the fermentation process breaks down phytic acid, making the nutrients in the grains more bioavailable 
    for absorption. Sourdough also boasts a unique flavor profile and texture, thanks to the complex interactions
    between wild yeast and lactobacilli bacteria during fermentation. Furthermore, sourdough bread typically
    contains fewer additives and preservatives than commercial bread, allowing individuals to have better 
    control over their ingredients. Ultimately, homemade sourdough bread not only offers health benefits
    but also provides a rewarding culinary experience, making it a worthwhile endeavor for anyone interested 
    in baking and wellness./p>
