@{
    ViewData["Title"] = "Request A Consult";
}
<h1>@ViewData["Title"]</h1>

<p>If you want a consultation on how to make sourdough bread, See the Calculator below to determine the consultancy fee</p>
<!--description of the page-->
<br />
<br />
<br />
<br />

<div class="calculator">
    <label for="hours">Enter the number of hours:</label>
    <input type="number" id="hours" min="0" required>

    <label>Hourly rate:</label>
    <input type="text" id="hourlyRate" value="$30" readonly><!--set my hourly rate-->

    <button onclick="calculateTotal()">Calculate Total</button><!--calculate total when button is clicked-->

    <div id="total" class="output-box"></div>

    
</div>